@import "../../common/colors";

.card-item {
  cursor: pointer;
  background: $secondary-color;
  transition: all 300ms ease-in;

  &:hover {
    transform: scale(1.1);
    background: #f0f0f0;
    .card-info {
      color: #0f171e;
      transition: all 300ms ease-in;
    }
  }
}

.card-top {
  height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-bottom{
  padding: 20px;
}

.card-info {
  color: $font-primary;
  h4{
    font-size: 22px;
    margin-bottom: 10px;
  }
}